# Remove the data directory cus' it's pretty big and we don't want a big gitlog
/data

# Python cache files
__pycache__
*.pyc
*.pyo
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
venv/
.venv/
.venv-landmark/

# Ignore model checkpoints and saved models. The models will flood our git history.
models/

# Ignore images which are downloaded
landmark_images/

# Notebook-generated checkpoints at repo root (we don't commit weights)
/model_scratch.pt
/model_transfer.pt
/ignore.pt

# Model training checkpoints 
checkpoints/